body {
  box-sizing: border-box;
  margin: 0;
  overflow-x: hidden;
  background-image: url('https://mcdn.wallpapersafari.com/medium/1/32/FpDfVZ.jpeg');
}

.logo {
  width: 10%;
}

h1 {
  color: #ffd509;
}

.nav-bar {
  display: flex;
  justify-content: space-evenly;
}

.item-count {
  font-size: larger;
  text-align: center;
  color: white;
}

.movies {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.movie-tiles {
  text-align: center;
  width: 350px;
  height: 600px;
  border-radius: 10px;
  box-shadow:
    rgba(0, 0, 0, 0.25) 0 54px 55px,
    rgba(0, 0, 0, 0.12) 0 -12px 30px,
    rgba(0, 0, 0, 0.12) 0 4px 6px,
    rgba(0, 0, 0, 0.17) 0 12px 13px,
    rgba(0, 0, 0, 0.09) 0 -3px 5px;
  margin: 2.5px;
  padding-bottom: 5%;
  color: white;
  background-color: #1f1f50;
}

.movie-image img {
  width: 100%;
}

footer {
  display: flex;
  color: white;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  border: #ffd509 2px solid;
  position: absolute;
  width: 100%;
  height: 2.5rem;
}

a {
  color: white;
}

.likes {
  padding-top: 2%;
  text-align: center;
}

.fa-2xl {
  margin-right: 2%;
  cursor: pointer;
}

.popup {
  width: 50%;
  display: none;
  position: fixed;
  top: 20%;
  left: 25%;
  background-color: aliceblue;
  border-radius: 25px;
  text-align: center;
  height: auto;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

textarea {
  width: 50%;
  margin: 20px;
}

input[type='button'] {
  margin-bottom: 10px;
}

.fa-xmark {
  position: absolute;
  top: 0%;
  margin-top: 25px;
  margin-left: -40px;
  left: 100%;
  cursor: pointer;
}
